<div class="container-fluid">

              <div class="container-fluid">

                <!-- footer -->
                <footer>
                  <!-- copyright -->
                  <div class="art-copy">© 2025 </div>
                  <!-- author ( Please! Do not delete it. You are awesome! :) -->
                  <div>Rayen Benmassaoud&#160; <a href="https://themeforest.net/user/millerdigitaldesign" target="_blank" data-no-swup></a></div>
                </footer>
                <!-- footer end -->

              </div>