<div class="art-info-bar">

  <!-- menu bar frame -->
  <div class="art-info-bar-frame">

    <!-- info bar header -->
    <div class="art-info-bar-header">
      <div class="art-info-bar-btn">
        <i class="fas fa-ellipsis-v"></i>
      </div>
    </div>

    <!-- info bar header end -->
    <div class="art-header">
      <div class="art-avatar">
        <a data-fancybox="avatar" data-no-swup href="assets/img/rayen.jpg" class="art-avatar-curtain">
          <img src="assets/img/rayen.jpg" alt="avatar">
          <i class="fas fa-expand"></i>
        </a>
        <div class="art-lamp-light">
          <div class="art-available-lamp"></div>
        </div>
      </div>
      <h5 class="art-name mb-10">Rayen Benmassaoud</h5>
      <div class="art-sm-text">Software Engineering <br>& Cloud Computing Student | Future IT Architect</div>
    </div>

    <!-- scroll frame -->
    <div id="scrollbar2" class="art-scroll-frame">

      <!-- about section -->
      <div class="art-table p-15-15">
        <ul>
          <li><h6>From:</h6><span>Tunisia</span></li>
          <li><h6>Age:</h6><span>23</span></li>
        </ul>
      </div>

      <div class="art-ls-divider"></div>

      <!-- language skills -->
      <div class="art-lang-skills p-30-15">
        <div class="art-lang-skills-item">
          <div id="circleprog3" class="art-cirkle-progress"></div>
          <h6>Arabic</h6>
        </div>
        <div class="art-lang-skills-item">
          <div id="circleprog1" class="art-cirkle-progress"></div>
          <h6>French</h6>
        </div>
        <div class="art-lang-skills-item">
          <div id="circleprog2" class="art-cirkle-progress"></div>
          <h6>English</h6>
        </div>
      </div>

      <div class="art-ls-divider"></div>

      <!-- hard skills -->
      <div class="art-hard-skills p-30-15">
  <div class="art-hard-skills-item">
    <div class="art-skill-heading"><h6>Cloud Computing (AWS, OpenStack)</h6></div>
    <div class="art-line-progress"><div id="lineprog1"></div></div>
  </div>
  <div class="art-hard-skills-item">
    <div class="art-skill-heading"><h6>Docker & Kubernetes</h6></div>
    <div class="art-line-progress"><div id="lineprog2"></div></div>
  </div>
  <div class="art-hard-skills-item">
    <div class="art-skill-heading"><h6>CI/CD (Jenkins, Ansible)</h6></div>
    <div class="art-line-progress"><div id="lineprog3"></div></div>
  </div>
  <div class="art-hard-skills-item">
    <div class="art-skill-heading"><h6>Backend (Spring Boot, Node.js)</h6></div>
    <div class="art-line-progress"><div id="lineprog4"></div></div>
  </div>
  <div class="art-hard-skills-item">
    <div class="art-skill-heading"><h6>Frontend (Angular, React)</h6></div>
    <div class="art-line-progress"><div id="lineprog5"></div></div>
  </div>
</div>


      <div class="art-ls-divider"></div>

      <!-- knowledge list -->
      <ul class="art-knowledge-list p-15-0">
        <li>OpenStack, AWS</li>
        <li>Docker, Kubernetes</li>
        <li>Ansible, Jenkins</li>
        <li>Spring Boot, Angular</li>
        <li>Linux Administration</li>
        <li>Monitoring Tools (Prometheus, Grafana)</li>
        <li>MySQL, Firebase, CouchDB</li>
        <li>Python, Java, Bash, PHP</li>
      </ul>

      <div class="art-ls-divider"></div>

      <!-- links frame -->
      <div class="art-links-frame p-15-15">
        <a href="https://app.flowcv.com/api/resumes/download?resumeId=630be2e3-3810-46f8-9ce0-27c7950c7608" class="art-link" download data-no-swup>Download CV <i class="fas fa-download"></i></a>
      </div>

    </div>
    <!-- scroll frame end -->

    <!-- sidebar social -->
    <div class="art-ls-social">
      <a href="https://www.linkedin.com/in/benmassaoud-rayen" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/Rayen123dev" target="_blank"><i class="fab fa-github"></i></a>
    </div>

  </div>
</div>
